body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.acesso-negado-container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.acesso-negado-container h1 {
    color: #ff0000;
    font-size: 36px;
}

.acesso-negado-container p {
    font-size: 18px;
    color: #333;
}

.acesso-negado-container img {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
}

.acesso-negado-container .botao-voltar {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: #007bff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.acesso-negado-container .botao-voltar:hover {
    background-color: #0056b3;
}
