/* Configurações iniciais para todos os elementos */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #f2f2f2; /* Cor de fundo mais clara */
    color: #212121; /* Cor do texto padrão mais escura */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}

/* Contêiner geral */
.conteudoGeral {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Cinco colunas */
    grid-template-rows: auto auto 1fr auto; /* Distribuição das seções */
    gap: 2px;
    background-color: #a3c6fb; /* Cor de fundo mais clara */
    min-height: 100vh; /* Garante que ocupa toda a altura da viewport */
    width: 100vw; /* Ocupa toda a largura da viewport */
    overflow-x: hidden; /* Evita barra de rolagem horizontal indesejada */
}

.topoUsuario {
    grid-row: 1; /* Ocupa a primeira linha */
    grid-column: 1 / span 5; /* Ocupa todas as cinco colunas */
    width: 100%;
    background-color: #0288d1;
    color: white;
}

.topoUsuario h2 {
    color: black;
    font-size: 1em;
    display: inline;
    padding-top: 2px;
    padding-bottom: 2px;
}

.topoUsuario a {
    text-decoration: none;
    color: white;
    padding-left: 5%;
    font-size: 1em;
    display: inline;
}

.topo {
    grid-row: 2; /* Segunda linha */
    grid-column: 1 / span 5; /* Ocupa todas as cinco colunas */
    background-color: #a3c6fb; /* Azul do botão de login */
    color: #666666; /* Cor do texto branco */
    font-size: 3em;
    text-align: center;
    padding: 10px;
}

.menu {
    grid-row: 3; /* Terceira linha */
    grid-column: 1; /* Primeira coluna */
    background-color: #a3c6fb; /* Azul do botão de login */
    padding: 10px;
}

.pagina {
    grid-row: 3; /* Alinhada com a linha do menu */
    grid-column: 2 / span 4; /* Ocupa quatro colunas a partir da segunda */
    background-color: #f2f2f2; /* Cor de fundo mais clara */
    padding: 20px;
}

.rodape {
    grid-row: 4; /* Quarta linha */
    grid-column: 1 / span 5; /* Ocupa todas as cinco colunas */
    background-color: #a3c6fb; /* Azul do botão de login */
    color: #666666; /* Cor do texto branco */
    text-align: center;
    padding: 10px;
}

/* Responsividade */
@media (min-width: 768px) {
    .conteudoGeral {
        grid-template-columns: 200px 1fr 1fr 1fr 200px; /* Ajuste as larguras conforme necessário */
    }
}
