body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.login-container {
  width: 100%;
  max-width: 400px; /* Define uma largura máxima para o container */
  margin: 100px auto; /* Centraliza verticalmente e centraliza horizontalmente */
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #1a73e8;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #0f62fe;
}

@media (max-width: 480px) {
  .login-container {
    margin-top: 50px; /* Reduz a margem superior para dispositivos menores */
  }
}
