.ok{
    background-color: #9bf790;

    color: #1b4516;
}
.erro{
    background-color: #f9b0b2;

    color: #b8050b;
}
.alerta{
    background-color: #f6e78c;

    color: #827319;
}


.ok,
.erro,
.alerta{
    padding-top: 15px;
    height: 40px;
    border-radius: 5px;
    width: 50%;
}
