/* Estilos para links no menu */
.menu {
  display: flex;
  flex-direction: column;
  width: 100%; /* Menu ocupa toda a largura */
  background-color: #37474f;
}

.menu a {
  display: block;
  text-decoration: none;
  padding: 10px;
  transition: all 0.3s ease-in-out;
  color: #ffffff;
  background-color: #37474f;
}

.menu a:hover {
  background-color: #0288d1; /* Azul brilhante para hover */
}

/* Estilos para dropdown */
.dropdown {
  position: relative;
}

.dropdown-content {
  max-height: 0;
  overflow: hidden;
  position: relative;
  background-color: #455a64; /* Cor diferente para o submenu */
  flex-direction: column;
  transition: max-height 0.3s ease-in-out;
}

.dropdown-content a {
  padding: 10px;
  color: #cfd8dc; /* Cor diferente para a fonte dos links do submenu */
  background-color: #455a64; /* Cor diferente para os links do submenu */
}

.dropdown-content a:hover {
  background-color: #0288d1; /* Azul brilhante para hover */
  color: #ffffff; /* Cor da fonte ao passar o mouse sobre os links do submenu */
}

/* Exibir o dropdown ao clicar */
.show {
  max-height: 500px; /* Ajuste conforme necessário para acomodar todos os links */
}
